body{
    background-color:rgb(109, 101, 101);
    height: 600px;
    height: 600px
 }
 .film-menu {
     background-color:  grey;
     padding: 10px;
     position: absolute; 
     height:580px;
     width:370px;
     left: 20%;
     top: 14%;  
 }
 
 #filmInfo{
     background-color: grey;
     padding: 8px;
     height: 580px;
     width: 370px;
     right: -50%;
     position: relative;  
    }
  button {
     background-color: white;
     margin: auto;
  } 
 h1{
 text-align: center;
 }
 ul {
     list-style-type: none;
 }
 