body{
    background-color:rgb(109, 101, 101);
    height: 600px;
    height: 600px
 }
 .film-menu {
     background-color:  lightblue;
     padding: 8px;
     position: absolute; 
     height:700px;
     width:370px;
     left: 20%;
     top: 14%;  
 }
 
 #filmInfo{
     background-color: lightcyan;
     padding: 8px;
     height: 700px;
     width: 370px;
     right: -50%;
     position: relative;  
    }
  button {
     background-color: white;
     margin: auto;
  } 
  .button-sold-out {
    background-color: brown;
    color: white;

  }
 h1{
 text-align: center;
 }
 ul {
     list-style-type: none;
 }
